name: Deploy Next.js to Server

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Add server to known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts
          
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          timeout: 5m
          script: |
            cd /Ads/Ads_client
            git pull origin master
            npm install
            npm run build
            pm2 delete Ads_client || true
            NODE_ENV=production pm2 start node_modules/next/dist/bin/next --name "pwa-termin-frontend" -- start -p 7500
            pm2 save
            pm2 startup
            